@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="text-center">
    <h1 class="display-4">View Page with Details:</h1>
    <p><a href="/Classroom/Details/1">Math Class List (id: 1)</a></p>
    <p><a href="/Classroom/Details/2">Science Class List (id: 2)</a></p>
</div>
